body {
	background-color: white;
	color: rgb(0, 122, 255);
	font-family: "Calibri";
	font-size: 10px;
	text-align: center;
    background-image: url('bananasss.jpeg');
    background-color: #cccccc;
	
}

.wrapper {
	background-color: white;
	width: 900px;
	margin: auto;
	padding: 20px;
	line-height: 15px;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}


a {
	color: orange;
	transition: all 1s;
}

a:hover {
	color: #cccccc;
	background-color: none;
	text-decoration: none;
	transition: all 1s;
}


.content {
	margin: 20px;
}

code {
	background-color: yellow;
}
